<div class="user-white d-flex justify-content-center mt-5 mb-auto">
  <h1>Hello, <%= current_user.first_name %>!</h1>
</div>
<div class="ticket-container">
  <div class="ticket-header d-flex justify-content-center my-4">
    <h1>Tickets</h1>
  </div>
  <ul>
    <% @tickets.each do |ticket| %>
      <div class="card-ticket my-2">
        <% if ticket.user == current_user %>
          <li>Your ticket has been assigned to <%= ticket.reviewer.first_name %></li>
          <li>Category: <%= ticket.category %></li>
          <li>Ticket opened <%= time_ago_in_words(ticket.created_at) %> ago</li>
          <div class="details-white d-flex justify-content-center mt-1">
            <%= link_to "Details", ticket_path(ticket), class: "text-decoration-none btn btn-dark" %>
          </div>
        <% else%>
          <li>Ticket was created by <%= ticket.user.first_name %></li>
          <li>Category: <%= ticket.category %></li>
          <li>Ticket opened <%= time_ago_in_words(ticket.created_at) %> ago</li>
          <div class="details-white d-flex justify-content-center mt-1">
            <%= link_to "Details", ticket_path(ticket), class: "text-decoration-none btn btn-dark" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </ul>


  <div class="ticket-btn d-flex justify-content-center">
   <%= link_to "Create ticket", new_ticket_path, class: "btn btn-secondary" %>
  </div>
  
</div>
