<div class="ticket-container">
  Hello, <%= current_user.first_name %>
  <ul>
    <% @tickets.each do |ticket| %>
      <% if ticket.user == current_user %>
        <li>Your ticket has been assigned to <%= ticket.reviewer.first_name %></li>
        <li>Category: <%= ticket.category %></li>
        <%= link_to "Details", ticket_path(ticket) %>
      <% else%>
        <li>Ticket was created by <%= ticket.user.first_name %></li>
        <li>Category: <%= ticket.category %></li>
        <%= link_to "Details", ticket_path(ticket) %>
      <% end %>
    <% end %>
  </ul>

  <%= link_to "Create ticket", new_ticket_path, class: "btn btn-outline-primary" %>
</div>
